.container {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.container-allboxes {
    height: 50vh;
    margin: 0px auto;
    border: 1px solid black;
    width: 85%;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    height: 40vh;
    width: 90%;
    padding: 0px 45px;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

.left-column {
    border: 1px solid black;
    height: 200px;
    width: 300px;
}

.middle-column {
    border: 1px solid black;
    height: 200px;
    width: 300px;
}

.right-column {
    border: 1px solid black;
    height: 200px;
    width: 400px;
}