.container {
    margin: 200px auto;
    width: 1000px;
}

.container h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.btn {
    padding: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}